

.weibo{
	color:#FFFFFF;
	background-color:#f44242;
	width: 65px;
}
.weixin{
	color:#FFFFFF;
	background-color:#20b21e;
	width: 65px;
}
body{
	background-color: #fffb96;
}
.baocaiming{
	
	width: 500px;
}
li{
	padding: 10px 15px;
	display: inline-block;/*使元素在一条横线上*/
	
	}
ul{
	border-bottom: 5px solid #e09b8d;
}
.mainimg{
	max-width: 100%;
}

@font-face {
    font-family: 'pt_sansitalic';
    src: url('PTS56F-webfont.eot');
    src: url('PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS56F-webfont.woff2') format('woff2'),
         url('PTS56F-webfont.woff') format('woff'),
         url('PTS56F-webfont.ttf') format('truetype'),
         url('PTS56F-webfont.svg#pt_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.testFont{
	font-family: 'pt_sansitalic',pt_sansitalic;
	font-size: 100%;
	line-height: 1.25;
}